* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text_copyrights {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}