* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer {
    background-color: #323232;
    color: white;
    text-align: left;
    overflow: hidden;
    bottom: 0;
    padding-bottom: 30px;
    width: 100%;
    z-index: 3200; /* ทำให้ฟิลเตอร์อยู่เหนือองค์ประกอบอื่น ๆ */
}

.footer .footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    margin: 0 50px;

    .contact-info {
        max-width: 500px;
        margin: auto 0;

        .contact {
            padding-left: 20px;
            padding-right: 50px;
            display: flex;
            align-items: center;
            /* จัดกึ่งกลางแนวนอน */
            justify-content: left;
            /* จัดกึ่งกลางแนวตั้ง */
            text-align: left;
            /* จัดข้อความให้อยู่กึ่งกลาง (เผื่อข้อความมีหลายบรรทัด) */
            margin-bottom: 20px;

            img {
                width: 35px;
                margin-right: 20px;
            }
        }

        a {
            color: white;
            text-decoration: none;
            font-size: 12px;
            line-height: 3;

            &:hover {
                color: #0096C7;
            }

            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }


    .about {
        max-width: 100%;
        margin: 0 auto;

        .text1 {
            font-weight: bold;
            font-size: 13px;
        }

        .text2 {
            margin-top: 10px;
            font-size: 12px;
            line-height: 3;
        }

        p {
            margin-top: 20px;

            img {
                width: 28px;
                margin-right: 20px;
            }

            display: flex;
        }
    }
}

@media screen and (max-width: 500px) {

    .footer .footer-content {
        grid-template-columns: 1fr;

        .contact-info {
            margin: 0 auto;
            text-align: center;

            .contact {
                justify-content: left;
                margin-bottom: 20px;
            }

            a {
                text-align: left;
            }
        }

        .about {
            margin: 0 auto;
            text-align: left;
        }
    }
}