$primary-color: #0096c7; // กำหนดสีหลัก
$hover-color: #2980b9;

.header {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  gap: 10px;
  width: 100%;
  position: fixed;
  z-index: 120;
}

.header a {
  font-size: 14px; // กำหนดขนาดฟอนต์ 20px
  font-weight: 600;
  color: white;
  margin-right: 10;
}

.header img {
  width: 14px;
}
