$primary-color: #0096c7; // กำหนดสีหลัก
$hover-color: #2980b9;

.header {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  height: 35px;
  gap: 12px;
  width: 100%;
  position: fixed;
  z-index: 120;
}

.header a {
  font-size: 16px; // กำหนดขนาดฟอนต์ 20px
  font-weight: 600;
  color: white;
  margin-left: 54px;
}

.header img {
  width: 16px;
}
