* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    padding-top: 110px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FFFFFF;
    min-height: 1100px;


    .login_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .login_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .login_form {
        color: #000000;
        padding: 5em;
        background-color: #FFFFFF;
        border-radius: 25px;
        box-shadow: 5px 15px 30px 0px rgb(217, 217, 217);

        form {
            border-radius: 10px;
            min-width: 300px;
        }

        .login_form_title {
            font-size: 30px;
            font-weight: bold;
        }

        .login_form_text {
            font-size: 15px;
            color: #666666;
            margin-bottom: 20px;
        }

        .login_form_text2 {
            text-align: center;
            font-size: 15px;
            color: #666666;
            margin-top: 10px;

            .login_form_signup {
                font-size: 15px;
                color: #0077B6;
                text-decoration: none;
            }
        }

        .login_form_input {
            width: 100%;
            height: 50px;
            font-size: 15px;
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #D3D3D3;
            border-radius: 10px;
        }

        ::placeholder {
            color: #9F9F9F;
        }

        input[type=checkbox] {
            transform: scale(1.5);
        }

        .remember_forgotpassword {
            display: flex;
            justify-content: space-between;

            .login_form_forgotpassword {
                font-size: 13px;
                color: #0077B6;
                text-decoration: none;
            }

            .login_form_checkbox {
                margin-bottom: 20px;
                font-size: 13px;
                color: #000000;
                display: flex;
                align-items: center;

                input {
                    margin-right: 10px;
                }
            }
        }



        .login_form_button {
            width: 100%;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 100px;
            cursor: pointer;
            background: linear-gradient(45deg, #023E8A, #0077B6);

            &:hover {
                background: linear-gradient(45deg, #0077B6, #023E8A);
            }
        }
    }
}

@media screen and (max-width: 1420px) {
    .login {
        padding-top: 50px;
        display: flex;
        justify-content: center;



        .login_wrapper {
            width: 100%;
        }

        .login_image img {
            display: none;
        }

        .login_form {
            padding: 60px 50px 100px 50px;

            .login_form_title {
                font-size: 30px;
            }

            .login_form_text {
                font-size: 15px;
                opacity: .5;
            }

            .login_form_text2 {
                font-size: 15px;
                text-decoration: none;

                .login_form_signup {
                    font-size: 15px;
                    color: #0077B6;
                    text-decoration: none;
                }
            }

            .remember_forgotpassword {
                margin-top: 5px;

                .login_form_forgotpassword {
                    font-size: 13px;
                }

                .login_form_checkbox {
                    font-size: 13px;

                }

                input[type=checkbox] {
                    transform: scale(1.5);
                }
            }

            .login_form_input {
                font-size: 16px;
                height: 40px;
                margin-bottom: 10px;
            }

            .login_form_button {
                height: 40px;
                font-size: 16px;
            }
        }
    }

}

@media screen and (max-width: 650px) {
    .login {
        padding-top: 50px;

        .login_form {
            box-shadow: none;
        }
    }
}