.brand {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* ให้ไอเท็มในคอนเทนเนอร์มาอยู่ในหลายแถว */
  gap: 20px; /* ระยะห่างระหว่างไอเท็ม */

  a {
    flex: 1 1 calc(50% - 10px); /* กำหนดให้แต่ละลิงก์ (หรือแต่ละคอลัมน์) ขนาด 50% ของคอนเทนเนอร์ โดยเหลือพื้นที่ 10px สำหรับระยะห่าง */
    display: block; /* ทำให้ <a> มีขนาดเต็มที่ */
    text-align: center; /* จัดข้อความให้อยู่กลาง */
  } 

  img {
    width: 100%; /* ปรับให้ขนาดภาพเต็มขนาดของคอลัมน์ */
    height: auto; /* ปรับให้ภาพรักษาสัดส่วน */
  }

  @media (max-width: 768px) {
    a {
      flex: 1 1 100%; /* เมื่อหน้าจอเล็กลง ให้ไอเท็มทั้งหมดใช้ความกว้างเต็มแถว */
    }
  }

  a:hover img {
    transform: scale(1.1); /* เมื่อ hover ขยายภาพ */
  }
}

.header-container {
  display: flex;
  justify-content: space-between; // ชิดขอบซ้ายและขวา
  align-items: center; // จัดตำแหน่งในแนวตั้งให้อยู่ตรงกลาง
  margin-top: 10vw; // ระยะห่างจากด้านบน
}

a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #0096c7 !important;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 400px) {
    font-size: 12px;
  }
}

h1 {
  color: black;
  font-size: 28px;
  font-weight: 500;
  margin: 0; // เอาระยะขอบออกเพื่อให้ชิดกับขอบ

  @media (max-width: 768px) {
    font-size: 22px; 
  }

  @media (max-width: 400px) {
    font-size: 16px; 
  }
}


.product-container {
  display: grid; /* ใช้ Grid Layout */
  grid-template-columns: repeat(4, 1fr); /* เริ่มต้นที่ 4 คอลัมน์ */
  gap: 20px; /* ระยะห่างระหว่าง Card */
  padding-top: 20px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr); /* ลดเหลือ 2 คอลัมน์ */
  }
}

.product-card {
  background-color: #fff;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  width: 100%; /* ใช้พื้นที่เต็มคอลัมน์ */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-card_image {
  width: 100%; /* ให้ภาพใช้พื้นที่เต็มของ Card */
  aspect-ratio: 4 / 5; /* กำหนดสัดส่วนของภาพ */
  overflow: hidden;
  border-radius: 12px;
}

.product-card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.product-card_image:hover img {
  transform: scale(1.1);
}

.product-card_details {
  .product-card_name {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    color: black;
    padding-left: 5px;
  }

  .product-card_brand {
    font-size: 14px;
    font-weight: bold;
    color: #023e8a;
  }

  .product-card_qty {
    background-color: #eed00f;
    color: black;
    padding: 1px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: 400;
    font-size: 11px;
  }

  .product-card_price {
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding-left: 5px;
  }

  .layout {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-left: 5px;
  }
}
